
:root {
    --main-color:rgb(255 255 255 / 80%);
}

body {
    background-color: #333;
}
p {
    color: var(--main-color);
    font-size: 30px;
    width: 418px;
    margin:30px auto;
    border-right: 2px solid var(--main-color);
    overflow: hidden;
    white-space: nowrap;
    animation: control-width 3s 2s steps(28) both, blink .5s infinite;
}
@keyframes control-width {
    0% {
        width:0;
    }
    100% {
        width:418px,
    }
}
@keyframes blink{
    0% {
        border-right-color: var(--main-color);
    }
    100% {
        border-right-color: transparent;
    }
}